* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    background: #000;
    padding-top: 5px;
    width: 100%;

}

.navbar-collapse{
position: relative;
}
.navbar-nav{
position: absolute;
right: 20px;


}



.btn-top {
    background-color: rgb(220, 20, 20);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

a:hover {
    color: red;

}

.slider {
    width: 100%;
}

.slider>img {
    width: 100%;
}

.text-div {
    width: 100%;
}

.text {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
}

.text>* {
    margin-bottom: 10px;
}

.btn-text {
    padding: 8px 25px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.btn-text:hover {
    color: whitesmoke;
    background-color: red;
}

.btn-div {
    margin-top: 20px;
}

.one>img {
    height: 120px;
}


.a-text a {
    color: white;
    text-decoration: none;
}

.a-text a:hover {
    color: rgb(251, 0, 0);
}

.btn-product {
    padding: 4px 15px;
    background-color: rgb(220, 20, 20);
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

.btn-product:hover {
    color: rgba(243, 243, 243, 0.883) !important;
}

.brands {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    line-height: 1.5rem;

}

.brands img {
    background-color: white;
    padding: 10px;
}

.brands-franchise {

    background-image: url(salt.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.brand-text {
    padding: 45px 0px;
    font-size: 40px;
    color: white;
    text-align: center;

}

.add-bg {
    background-color: rgba(32, 32, 32, 0.794);
}
.footer{
    background: rgba(0, 0, 0, 0.801);
}

.locate {
    border-radius: 50%;
}

.franchise-text {
    color: white;
    text-align: center;
    margin-top: 50px;
}

.one1 { 
    width: 350px;
  
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 10px;
}
.loc-img{
   display: flex;
   justify-content: center;
}

.loc-img >img{
width: 100px;
height: 100px;

}

.footer-ul li a {
    text-decoration: none;
    color: white;
}

.footer-ul h3 {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
 
}

.footer-ul li {
    color: white;
    list-style: none;
    line-height: 1.5rem;
}

.footer {
    width: 100%;
}

.footer-div {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media only screen and (min-width: 768px){
    .navbar-nav{
        position: absolute;
        right: 20px;
        background-color: black;
        padding:10px 30px !important;
        border-radius: 6px;
        
        }
}